.poster{position: relative;top: 0;left: 0;width: 100%;height: 100%;background-color: #000000;overflow-y: scroll;}
.topnotre{text-align: center;font-weight: bold;font-size: 20px;text-align: center;color: #fff;margin: 4px 0;}
.topnotre:nth-child(1){padding-top: 20%}
.qrcode{width: 60%;height: auto;}
.btmnotr{text-align: center;font-weight: bold;font-size: 16px;text-align: center;color: #fff}
.btmnotr button{width: 6rem;height: 2rem;border: 4px solid yellow}
